@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*,
*::after, *::before{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}

body, html{
    height: 100%;
}

body{
    background-color: #201e2f;
    font-family: 'itim', cursive;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  line-height: 1em;
}

.top_body{
  width: 90%;
  max-width: 600px;
}

.logo_area, .people_per_person, #form{
  padding: 25px 35px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.logo_area{
  background-color: #00feb5;
  text-align: center;
}

.people_per_person{
  background-color: #11111b;
}


.logo_area h2{
  color: #201e2f;
}

#form{
  background-color: #2c3e50;
}

#form label{
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

#form input{
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px 15px;
  border: 0;
  border-radius: 25px;
  font-family: 'itim', cursive;
  background-color: #34495e;
  color: #fff;
  width: 100%;
}

.people_area{
  margin-top: 20px;
}

.people_area p{
  font-size: 18px;
  margin-bottom: 15px;
}

.inner_people{
  display: flex;
  justify-content: space-between;
}

.inner_people ul{
  list-style: none;
  display: flex;
}

.inner_people ul li{
  font-size: 30px;
}

#minusSum{
  background-color: #e74c3c;
}

#pluSum{
  background-color: #00feb5;
}

#minusSum,
#pluSum{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
}

#peopleSum{
  margin: 5px 20px 0;
}

#calculator{
  background: #a29bfe;
  color: #fff;
  font-family: 'itim', cursive;
  border: 0;
  padding: 10px 35px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#calculator:hover{
  background: #5650ae;
}

.people_per_person{
  background-color: #11111b;
  margin-bottom: 0px;
  display: none;
}

.people_per_person div{
  display: flex;
  justify-content: space-between;
}

.people_per_person hr{
  border: 2px dashed #fff;
  margin: 10px 0px;
}

.people_per_person h2{
  color: #00feb5;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.people_per_person h3, .people_per_person h4{
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}